[commit]
    template = ~/.git_message
[user]
	name = Roland Schulz
	email = schullzroll@gmail.com 
    username = RollAss21
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = ~/.gitignore_global
	pager = "less -MR "
[sendemail]
    suppresscc = all
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = schullzroll@gmail.com
	smtpserverport = 587
	confirm = auto
[push]
	default = matching
[color]
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[diff]
	tool = vimdiff
[alias]
    b = branch
    br = branch
    ch = checkout
    uncommit = reset HEAD^
    l = log --graph --decorate 
    a = add -A
    ap = add -p
    c = commit --verbose --signoff
    ca = commit -a --verbose --signoff
    cmsg = commit -m --signoff
    camsg= commit -a -m --signoff
    d = diff
    s = status
    sh = show
    co = checkout
    cob = checkout -b
    signlast = commit --amend --signoff
    #display occurence of searched string in files
    matches = grep -ciIp #'string'
    hist = log --graph --oneline --decorate --all
    # list aliases
    aliases = "!git config -l | grep alias | cut -c 7-"
[credential "smtp.gmail.com"]
	helper = !~/bin/git-smtp-pass
